@import "variables/bootstrap";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/roboto_regular/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";

@import "components/nav";
@import "components/footer";
@import "components/buttons";
@import "components/panels";

@import "pages/home/hero";
@import "pages/home/video";
@import "pages/home/highlevel";
@import "pages/home/testimonials";
@import "pages/home/featuredin";

@import "pages/pricing/hero";
@import "pages/pricing/faq";

@import "pages/about/about-hero";
@import "pages/about/about-image";
@import "pages/about/about-team";
@import "pages/about/about-blog";
@import "pages/about/about-assets";

@import "custom";
