.page-body{
  .faq{
  	.title{
		font-size: 27px;
		line-height: 36px;
		max-width: 80%;
		margin: 0 auto;
		padding-bottom: 25px;

    	border-bottom: 1px solid rgba(216, 216, 216, 0.25);
  	}
  }
}

@media (min-width: 992px){
	.page-body{
	  .faq{
	  	.title{
			font-size: 36px;
			line-height: 44px;
			max-width: 915px;
	  	}
	  }
	}
}