.page-body{
	.about-hero{
	    position: relative;
	    display: table;
	    width: 100%;

	    .hero_wrapper{
	      display: table-cell;
	      vertical-align: middle;
	      padding-top: 100px;
	      padding-bottom: 115px;

			.title{
				font-size: 36px;
				line-height: 45px;
				color: #fff;
				padding-right: 130px;
				text-align: left;

				span{
					color: #FB0066;
				}
			}
			.description{
				font-size: 18px;
				line-height: 30px;
				color: #999;
				padding-right: 140px;
				text-align: left;
			}
			.hero-arrow{
				width: 21px;
			}
			img{
			    width: 100%;
			    height: auto;
			}
		}
	    .hero_footer{
	      position: absolute;
	      bottom: 20px;
	      left: 0;
	      width: 100%;
	    }
		.pic{
	      position: absolute;
	      top: 0;
	      right: 0;
	      height: 100%;
	      width: 30%;
	      background-image: url(../images/about_hero-bg.png);
	      background-size: cover;
	      z-index: -1;
		}	   
		.bg{
	      position: absolute;
	      top: 0;
	      left: 0;
	      height: 100%;
	      width: 100%;
		  background-color: #060606;
		  z-index: -2;
		}	 
	}
}

@media (max-width: 990px){
	.page-body{
		.about-hero{
		    .hero_wrapper{
				.title{
					padding-right: 0;
				}
				.description{
					padding-right: 0;
				}
			}
			.pic{
		      background-image: none;
			}	   
		}
	}
}