.page-body{
	.highlevel{
		.container{
			position: relative;
			
			#sticker{
				position: absolute;
				top: 80px;
				left: 10px;
				width: 1px;
				height: 460px;
				background-color: #555;

				.value{
					position: relative;
					width: 100%;
					height: 0%;
					background-color: #FF0079;

					.text{
						position: absolute;
						top: -50px;
						left: -7px;
						font-size: 12px;
						width: 40px;
						height: 40px;
						color: #535353;
						transform: rotate(270deg);

						span{
							color: #535353;

							&.active{
								color: #FF2C79;
							}
						}
					}
				}
			}
			.title{
				font-size: 22px;
				line-height: 30px;
				color: #fff;
				text-align: center;
			  	max-width: 280px;
			  	margin: 0 auto;

				span{
					display: block;
					color: #FB0066;
				}
			}
			.description{
				font-size: 15px;
				line-height: 24px;
				color: #999;
				max-width: 80%;
				width: 280px;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
}

@media (min-width: 992px){
	.page-body{
		.highlevel{
		  	.is-table-row>[class*='col-'] {
				vertical-align: middle;

				.title{
					font-size: 36px;
					line-height: 45px;
					text-align: left;
					max-width: none;
					margin: 0 auto 0 100px;
				}
				.description{
					font-size: 18px;
					line-height: 30px;
					text-align: left;
					margin: 0 auto 0 100px;
				}
		        &.image-col{
		          position: relative;

		          .image-wrapper{
		            position: absolute;
		            top: 50%;
		            left: 0;
		            height: 625px;
		            max-height: 100%;
		            width: 1000px;
		            margin-top: -253px;

		            img{
		            	height: 100%;
		            	width: auto;
		            }
		          }
		        }
		  	}
		}
	}
}
@media (min-width: 1200px){
	.page-body{
		.highlevel{
		  	.is-table-row>[class*='col-'] {
		        &.image-col{
		          position: relative;

		          .image-wrapper{
		            position: absolute;
		            top: 50%;
		            left: 0;
		            height: 706px;
		            width: 1130px;
		            margin-top: -253px;
		          }
		        }
		  	}
		}
	}
}