.btn-pink{
	display: inline-block;
	background-color: #ff0079;
	color: #fff;
	border-radius: 100px;
	padding: 14px 40px;

	&:hover{
		text-decoration: none;
		color: #fff;
		background-color: darken(#ff0079, 5%)
	}
}

.btn-pink-border{
	display: inline-block;
	border: 1px solid #ff0079;
	color: #ff0079 !important;
	border-radius: 100px;
	padding: 10px 40px !important;

	&.active,&:hover{
		background-color: #ff0079 !important;
		color: #fff !important;
	}
}
.btn-white-border{
	display: inline-block;
	border: 1px solid #fff;
	color: #fff !important;
	border-radius: 100px;
	padding: 10px 40px !important;

	&.active,&:hover{
		// color: #fff !important;
		// border: 1px solid #fff;
	}
}

@media (min-width: 992px){
	.btn-pink{
		padding: 14px 40px;
	}
}