.page-header{
  nav{
    padding-top: 30px;
    padding-bottom: 10px;

    &.without-hover-effect{
      li{
        a:hover{
          color: #fff;
        }
      }
      li.active{
        a,a:hover{
          color: #fff;
        }
      }
    }
    .navbar-brand{
      padding: 0 15px;

      img{
        height: 100%;
        width: auto;
        width: auto;
      }
    }

    .btn-pink-border{
      margin-left: 15px;
    }
    .navbar-toggle{
      position: relative;

      &:hover::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #ff0079;
        opacity: 0.5;
        border-radius: 5px;
      }
    }
    .navbar-collapse{
      li{
        text-align: center;

        .btn-pink-border,.btn-white-border{
          max-width: 150px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}